.card{
    margin: 20px 5px;
    border: 1px solid #fff;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
    background: linear-gradient(180deg,
    rgb(5, 0, 38) 0%,
    #1d0019 100%); 
    box-sizing: border-box;
}

.card:hover{
    scale: 1.2;
}

.card img{
    width: 150px;
    margin: 5px 0;
    border-radius: 80px;
}

.card h1{
    font-size: 22px;
}

.card p{
    font-weight: bold;
}